
module.exports = {


  // Port that proxy is listening on
  proxyPort: '5080',

  // Ip that web server is listening on
  listenIp: '127.0.0.1',
  // Port that web server is listening on
  webPort: '5081',

  // How often to refresh dns
  dnsLookupPeriod: 60 * 15, // in sec

  cachePathnameTime: 300, // in sec

  // Amount of time to clear captive portal redirects
  // after user clicks
  clearedTime: 60 * 60 * 24, // in sec = 1 day

  sourceNet: '100.64.0.0/10',

  iptablesChain: 'GARDEN_GNOME',

  dnsServers: [
    '8.8.8.8', // google dns
    '8.8.4.4', // google dns
    '209.244.0.3', // Level3
    '209.244.0.4', // Level3
    '84.200.69.80', // Dns.Watch
    '84.200.70.40', // Dns.Watch
    '198.101.242.71', // alternate-dns.com
    '23.253.163.53', // alternate-dns.com
    '205.204.88.60', // PeerDNS
    '178.21.23.150', // PeerDNS
    '91.239.100.100', // censurfridns.dk
    '89.233.43.71', // censurfridns.dk
    '8.26.56.26', // Comodo DNS
    '8.20.247.20', // Comodo DNS
    '104.236.210.29', // DNSReactor
    '45.55.155.25', // DNSReactor
    '216.146.35.35', // dyn.com
    '216.146.35.36', // dyn.com
    '80.67.169.12', // fdn.fr
    '37.235.1.174', // FreeDNS
    '37.235.1.177', // FreeDNS
  ],

  dnsmasqConfFile: '/etc/dnsmasq.d/garden-gnome.conf',

  // Sending a GET request with matching headers will 
  // add the src ip to a cleared list
  clearIpHeaders: [
    {
      'x-peoplesopen-portal-click': true
    }
  ],

  checkClearedPeriod: 60,

  probeHeaders: [
    {
      'user-agent': /CaptiveNetworkSupport*/,
    },
    {
      'user-agent': /Android-Wifi*/
    }
  ],

  probeRequests: [
    'http://apple.com/library/test/success.html',
    'http://www.apple.com/library/test/success.html',
    'http://captive.apple.com/library/test/success.html',
    'http://captive.apple.com',
    'http://captive.apple.com/hotspot-detect.html',
    'http://www.ibook.info/library/test/success.html',
    'http://www.itools.info/library/test/success.html',
    'http://www.airport.us/library/test/success.html',
    'http://www.thinkdifferent.us/library/test/success.html',
    'http://www.appleiphonecell.com/library/test/success.html',
    'http://clients3.google.com/generate_204',
    'http://connectivitycheck.android.com/generate_204',
    'http://www.msftncsi.com/ncsi.txt'
  ]
};
